@import "variables";

.buttons, .button {
  &.button-white {
    background-color: transparent;
    color: $white;
  }
}

.button-bar {
  .next-button{
    position: absolute;
    bottom: 0;
    width: 100%;
    .button-white {
      background-color: $white;
      border: none;
      color: $royal;
    }
  }
}


.radios {
  margin: 1em 0;
  float: left;
  width: 100%;
  .item.item-radio {
    width: 50%;
    float: left;

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .item-radio input:checked ~ .item-content {
    background-color: $royal;
    color: $white;
  }
}
