@font-face {
  font-family: $font-thin;
  src: url("../fonts/FordAntenna/FordAntenna-Thin.otf");
}
@font-face {
  font-family: $font-light;
  src: url("../fonts/FordAntenna/FordAntenna-Light.otf");
}
@font-face {
  font-family: $font-bold;
  src: url("../fonts/FordAntenna/FordAntenna-Bold.otf");
}
