<ion-view view-title="2 of 3">
    <ion-content class="coloured-bg" padding="true" has-header="true">
        <div class="item item-text-wrap component">
            <div class="title-module">
                <h2 class="title text-center">What vehicle was the customer interested in??</h2>
            </div>
            <div class="list">
                <p>selected item is : {{formData.vehicle}}</p>

                <div class="item item-input item-select">
                    <select ng-model="formData.vehicle"
                            ng-options="g.vehicle as g.vehicle for g in filterOptions.vehicles"
                            ng-change="vm.change(formData.vehicle)">
                        <option value="">--All--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="item component">
            <div class="title-module">
                <h2 class="title text-center">Did the customer complete a test drive?</h2>
            </div>
            <div class="radios">
                <ion-radio ng-model="formData.test" name="test" ng-value="'Yes'">Yes</ion-radio>
                <ion-radio ng-model="formData.test" name="test" ng-value="'No'">No</ion-radio>
            </div>
        </div>
    </ion-content>
    <div class="button-bar">
        <div class="padding next-button">
            <a ui-sref="main.form.step3" class="button button-block button-white">Next</a>
        </div>
    </div>
</ion-view>