<ion-view view-title="3 of 3">
    <ion-content class="coloured-bg" padding="true" has-header="true">
        <div class="item component">
            <div class="title-module">
                <h2 class="title text-center">Did you record contact details?</h2>
            </div>
            <div class="radios">
                <ion-radio ng-model="formData.recorded" name="recorded" ng-value="'Yes'">Yes</ion-radio>
                <ion-radio ng-model="formData.recorded" name="recorded" ng-value="'No'">No</ion-radio>
            </div>
        </div>
        <div class="item component">
            <div class="title-module">
                <h2 class="title text-center">Did you record contact details?</h2>
            </div>
            <div class="item range range-positive">
                <input type="range" ng-model="formData.opinion" name="opinion" min="0" max="100" value="33">
            </div>
            <div>
                <p class="text-center range-balance">{{formData.opinion}}&percnt;</p>
            </div>
        </div>
    </ion-content>
    <div class="button-bar">
        <div class="padding next-button">
            <button class="button button-block button-white" ng-click="processData()">Complete</button>
        </div>
    </div>
</ion-view>
