<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-ford nav-title-slide-ios7" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-white ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
        <button class="button button-icon button-white ion-plus" ng-click="createUser()">
        </button>
    </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="main"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-ford">
      <h1 class="title" align="">Foot Fall</h1>
    </ion-header-bar>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close ui-sref="main.customers">
          Customers
        </ion-item>
        <ion-item menu-close ui-sref="main.form.step1">
          Step One
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
