<ion-view title="{{viewTitle}}" left-buttons="leftButtons">
  <div class="bar bar-loading bar-assertive" ng-if="data.isLoading">Loading item</div>
  <ion-content ng-class="{'has-loading': data.isLoading}"  class="coloured-bg" padding="true" has-header="true">
    <ion-list show-delete="isDeletingItems" show-reorder="isReorderingItems" class="list">
      <ion-item ng-model="customers" item="item" class="item-remove-animate" ng-repeat="item in customers | orderBy: 'id' as filtered_result track by item.id"" ui-sref="main.customer({id: item.id})">
        <h2>{{item.name}}</h2> <p>{{item.date | date}}</p>
        <i class="icon"></i>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="removeCustomer(item)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar bar-light">
    <div class="button-bar">
      <button class="button button-clear" ng-click="toggleDelete()">{{editBtnText}}</button>
      <button class="button button-clear" ng-click="toggleReorder()">{{reorderBtnText}}</button>
    </div>
  </ion-footer-bar>
</ion-view>
